.ant-card {
    border-radius:8px;
    box-shadow: 10px 10px 20px grey;
} 


.menuDetail:hover {
    background-color : powderblue;
} 

.ant-card-actions {
    margin-bottom : 5px;
   
}

.menuImage {
    
    border-radius:8;

}

.thumb {
    font-size : 1.5em;
    color : rgb(96, 96, 168);
}



.iconBtn:hover{ 
    cursor:pointer;
}


.ant-card-meta-description  {
    font-size : 2em;
    color: rgb(128, 115, 115);
}


.ant-card-meta-title  {
    font-size : 2em;
    color: rgb(75, 47, 47);
}

.selectedThumb {
    font-size : 1.5em;
}