.side {
    /* height: 100%;
    width: 258px; */
    /* border-right-color: black;
    border-right-style: solid; */
    margin-left: 5px;
    /* background-color: '#fff';
    width:270px; */
}


.center {
    text-align: center;
    font-size: 1.1rem;
}




#components-layout-demo-top-side-2  {
    width: 120px;
    height: 31px;
    background: #ffffff;  
    margin: 16px 28px 16px 0;
    float: left;
}

.sideLabel {
    width: 255px;
    text-align: center;
    color:white;
    background-color: #1790ff;
    border: solid, lightblue, 2px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* .chartBody {
    overflow: auto;
} */

