

.headerContainer {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.headerItem {
    flex-grow: 1;

    /* color: #333; */
    font-size: 1.5rem;
    
    text-align: center;
    font-weight: 600;

    border-bottom: powderblue 3px solid; 


    background-color: #1790ff;
    color:#fff;

}

.headerItem:nth-child(2) {
    flex-grow: 2;
    font-size: 4rem;
}




.headerItem:nth-child(3) { 

    padding-top: 50px;
    
  }


.iconCart, .iconOrderHistory, .iconUser, .iconLogout, .salesStat {
    color: white;
    font-size: 1.5rem;
    cursor:pointer;
}

.salesStat {
    font-size: 3rem;
    cursor:pointer;
    padding-bottom:10px;
}

