

.headerContainer {
    display: flex;
    flex-direction: row;


    box-shadow: 10px 10px 20px grey;
}

.headerItem {
    flex-grow: 1;

    /* background-color:powderblue; */
    /* color: rgb(20, 98, 161); */
    color: black;
    font-size: 1.5rem;
    
    text-align: center;
    font-weight: 400;

    border-bottom: powderblue 3px solid; 

}

.headerItem:nth-child(2) {
    flex-grow: 2;
    font-size: 4rem;
}




.headerItem:nth-child(3) { 

    padding-top: 50px;
    
  }


.iconCart, .iconOrderHistory, .iconUser, .iconLogout {
    font-size: 1.5rem;
    cursor:pointer;
}

.salesStat {
    font-size: 3rem;
    cursor:pointer;
}

