/* 
.table-data-name {
    font-size : 1rem;
    font-weight: 500;
    text-align : left;
}
.table-data-qty {
    font-size : 1rem;
    font-weight: 500;
    text-align : center;
}

.table-data-price {
    font-size : 1rem;
    font-weight: 500;
    text-align : right;
}
.table-header {
    text-align : center;
    font-size : 1.1rem;
    font-weight: bold;
} */